<header class="header-container">
  <div class="header-wrapper">
    <!-- Logo  -->
    <div class="logo-container">
      <img src="/imagenes/logo1.jpg" alt="NEXA Logo" class="logo" />
    </div>

    <!-- Navegación -->
    <nav class="nav-container">
      <a href="/" class="nav-link">Inicio</a>
      <a href="/servicios" class="nav-link">Servicios</a>
      <a href="/packs" class="nav-link">Packs</a>
      <a href="/nosotros" class="nav-link">Nosotros</a>
      <a href="/contacto" class="nav-link">Contacto</a>
      <button class="agendar-btn">Agendar Cita</button>

    </nav>

 
  </div>
</header>
