<section class="hero">
  <div class="hero-inner">
    
    <div class="hero-content">
      <div class="hero-badge">
        Agencia de Comunicación Integral
      </div>

      <h1 class="hero-title">
        Elevamos tu<br />
        <span>Imagen Corporativa</span>
      </h1>

      <p class="hero-subtitle">
        Estrategias de relaciones públicas, gestión de redes sociales y diseño de alto impacto
        para empresas que buscan destacar.
      </p>

      <div class="hero-actions">
        <a routerLink="/packs" class="btn btn-VerPacks">Ver Nuestros Packs</a>
        <a [routerLink]="['/']" fragment="servicios" class="btn btn-VerServicios">Conocer Mas</a>
      </div>

    
    </div>

<div class="hero-media">
  <div class="video-mockup-container">
    <iframe 
      src="https://www.youtube.com/embed/Hn3-r_dxiv4?rel=0&playsinline=1" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
  </div>
</div>

  </div>
</section>

<app-blue-section></app-blue-section>
<app-proyectos></app-proyectos>
<app-servicios></app-servicios>